In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [3]:
!ls

comp_graphs	    weight_results				     weights
csv_analysis.ipynb  weight_resultscomps_bilstm200_64_52_20_51__.csv
graphs_weights	    weight_resultscomps_bilstm200_64_52_20_.csv

In [4]:
filename = "/home/bharat/proj/time_series1/lstm/pretrained/weight_results/comps_bilstm200_64_52_20_51__.csv"

In [45]:
'comps(1, 51)_200_32_52_5_.csv'     
'comps(51, 101)_200_32_52_5_.csv'

'comps(51, 101)_200_32_52_5_.csv'

In [10]:
# df1 = pd.read_csv("comps(1, 51)_200_32_52_10_.csv")
# df2 = pd.read_csv("comps(51, 101)_200_32_52_10_.csv")
# df3 = pd.read_csv("comps(101, 151)_200_32_52_10_.csv")
# df4 = pd.read_csv("comps(151, 201)_200_32_52_10_.csv")
# df5 = pd.read_csv("comps(201, 251)_200_32_52_10_.csv")
# df6 = pd.read_csv("comps(251, 301)_200_64_52_10_.csv")
# df7 = pd.read_csv("comps(301, 351)_200_64_52_10_.csv")
# df8 = pd.read_csv("comps(351, 401)_200_64_52_10_.csv")
# df9 = pd.read_csv("comps(401, 451)_200_64_52_10_.csv")
# df10 = pd.read_csv("comps(451, 501)_200_64_52_10_.csv")

In [11]:
# df3.shape

In [12]:
# result = df1.append([df2,df3,df4,df5,df6,df7,df8,df9,df10],ignore_index = True)
result = df1.append([df2,df3,df4,df5],ignore_index = True)

In [13]:
result.tail()

     arima011      kunag   lstm   matnr
230     0.530  500061471  0.461  123371
231     0.499  500061471  0.505  126073
232     0.507  500061471  0.546  129254
233     3.491  500061471  2.990  132530
234     1.097  500061471  0.991  132540

In [14]:
result.shape

(235, 4)

In [6]:
df = pd.read_csv(filename)

In [11]:
df.shape

(38, 5)

In [15]:
n = 500
epoch = 200
batch = 32
order = 52
lstm_units = 10
filename = "comps_EBOL_"+str((n))+"_"+str(epoch)+"_"+str(batch)+"_"+str(order)+"_"+str(lstm_units)

In [16]:
export_csv = result.to_csv (r'appended/'+filename+'_.csv',sep = ",", index = None, header=True)

In [9]:
minimum = df.idxmin(axis=1)

In [18]:
# /home/bharat/proj/time_series1/lstm/pretrained/weight_results/appended/comps_EBOL_100_200_64_52_5_.csv

In [19]:
# minimum

In [10]:
minimum[0]

'arima011'

In [12]:
a = 0
b = 0
c = 0
for i in range(0,len(minimum)):
    if(minimum[i]=="arima011"):
        a+=1
    elif(minimum[i]=="lstm"):
        b+=1
    elif(minimum[i]=="bilstm"):
        c+=1
print(a)
print(b)
print(c)

21
9
8

In [14]:
df.sum(axis = 0, skipna = True)

arima011    4.267300e+01
bilstm      4.584600e+01
kunag       1.900217e+10
lstm        4.209100e+01
matnr       5.040766e+06
dtype: float64

In [205]:
# result1 = result1.convert_objects(convert_numeric=True).astype(float)
# round(result1.sum(axis = 0, skipna = True),3)

In [160]:
import os
import glob
import pandas as pd

In [161]:
pwd

u'/home/bharat/proj/time_series1/lstm/pretrained/weight_results'

In [164]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [165]:
all_filenames

['comps(51, 101)_200_1_52_10_.csv',
 'comps(301, 351)_200_64_52_10_.csv',
 'EBOL_200_32_52_50.csv',
 'EBOL_200_1_52_15.csv',
 'EBOL_200_1_52_10.csv',
 'EBOL_200_10_52_50.csv',
 'comps(1, 21)_1000_32_52_5_.csv',
 'EBOL_200_128_52_50.csv',
 'EBOL_exp_200_32_52_50.csv',
 'EBOL_200_32_52_5.csv',
 'comps(1, 51)_200_32_52_5_.csv',
 'comps(101, 151)_200_64_52_10_.csv',
 'comps(201, 251)_200_64_52_10_.csv',
 'EBOL_200_64_52_50.csv',
 'comps(1, 51)_200_1_52_10_.csv',
 'comps(351, 401)_200_64_52_10_.csv',
 'EBOL_200_1_52_5.csv',
 'comps(151, 201)_200_64_52_10_.csv',
 'comps(1, 51)_200_64_52_10_.csv',
 'comps(51, 101)_200_32_52_5_.csv',
 'comps(451, 501)_200_64_52_10_.csv',
 'comps(251, 301)_200_64_52_10_.csv',
 'EBOL_200_64_52_5.csv',
 'comps(401, 451)_200_64_52_10_.csv',
 'comps(1,31)_200_64_52_5_.csv',
 'EBOL_200_1_4_10.csv',
 'comps(31, 61)_200_64_52_5_.csv',
 'comps(61, 101)_200_64_52_5_.csv',
 'comps(51, 101)_200_64_52_10_.csv']