In [1]:
import pandas as pd
from pandas import DataFrame
import dateutil.parser
import matplotlib.pyplot as plt
import numpy as np

In [14]:
# df = pd.read_csv("raw_invoices_4500_RACETRAC_20190621.tsv", sep=',', header=None)
df = pd.read_csv("invoice_2019_06_18_I010_4500.tsv", sep=',', header=None)

df.columns = ["kunag", "matnr", "date", "quantity","price"]
df.head()

       kunag   matnr        date  quantity                 price
0  600398802  115583  2019-05-24       2.0   0.23529411764705882
1  600398802  102580  2019-05-10       1.0    0.0411692038826047
2  600398802  115584  2019-05-03       1.0   0.11764705882352941
3  600398802  152196  2019-05-03       1.0  0.031162355725927137
4  600398802  146048  2019-06-07       1.0    0.0411692038826047

In [15]:
# dataframe.shape 
shape = df.shape 
print(shape)
# df.kunag.nunique(dropna = True) 
x= pd.value_counts(df.kunag)
print(len(x))
y= pd.value_counts(df.matnr)
print(len(y))

(1149122, 5)
430
711

In [17]:
# df1 = df[(df > 0).all(1)]
df1 = df[df["quantity"] >=0]    

# dataframe.shape 
shape = df1.shape 
print(shape)
# df.kunag.nunique(dropna = True) 
x= pd.value_counts(df1.kunag)
print("kunag ",len(x))
y= pd.value_counts(df1.matnr)
print("matnr ",len(y))

(1087739, 5)
kunag  430
matnr  695

In [18]:
data = df1.groupby(["matnr"])
len(data)

695

In [19]:
lst = df.matnr.unique() 
len(lst)

711

In [21]:
# lst1 = df.name.unique() 
# len(lst1)

In [22]:
# data1 = df1.groupby(["name"])
# len(data1)

In [23]:
# n_df1 = data1.get_group(lst1[2])
# n_df1.head()

In [24]:
data = n_df1.groupby(["matnr"])
len(data)

NameError: name 'n_df1' is not defined

In [33]:
lst = n_df1.matnr.unique() 
len(lst)

437

In [56]:
lst1

array(['I001', 'I004', 'I005', 'I018', 'I000', 'I017', 'I006', 'I012',
       'I007', 'I002', 'I010', 'I013', 'I019'], dtype=object)

In [50]:
lst1[11]

'I013'

In [53]:
# n_df1.shape

In [54]:
n_df1 = data1.get_group(lst1[11])
data = n_df1.groupby(["matnr"])
print(len(data))
lst = n_df1.matnr.unique() 
print(len(lst))
print(n_df1.shape)

367
367
(73820, 6)

In [55]:



cnt = 0
for i  in range(0,n_df1.shape[0]):
    try:
        n_df1 = data.get_group(lst[i])
        index = lst[i]
        n_df1['date'] = pd.to_datetime(n_df1['date'], errors='coerce')
        del n_df1["kunag"]
        del n_df1["matnr"]
        n_df1 = n_df1.sort_values('date')
        n_df1.set_index('date',inplace=True)
        n_df1.index = pd.to_datetime(n_df1.index, unit='s')
        weekly_resampled_data = n_df1.quantity.resample('W').sum() 
        weekly_resampled_data = weekly_resampled_data.replace(np.nan, 0)
        individual_series = weekly_resampled_data.to_frame() 
        individual_series = individual_series.reset_index()
        plt.figure(figsize=(16,8))
        plt.plot( weekly_resampled_data, marker='.', color='blue')
        plt.xlabel("time",color = "red")
        plt.ylabel('quantity',color = "red")
        plt.savefig("/home/rahul/Downloads/bharat/time_series1/racetrac/I013/" + 'Graph_{}.png'.format(index), format="PNG")  

        cnt+=1
        plt.close()
        if (cnt%20==0):
            print("count :", cnt)
#             break

    except:
        pass

/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

count : 20
count : 40
count : 60
count : 80
count : 100
count : 120
count : 140
count : 160
count : 180
count : 200
count : 220
count : 240
count : 260
count : 280
count : 300
count : 320
count : 340
count : 360

In [30]:



# cnt = 0
# for i  in range(0,n_df1.shape[0]):
#     try:
#         n_df1 = data.get_group(lst[i])
#         index = lst[i]
#         n_df1['date'] = pd.to_datetime(n_df1['date'], errors='coerce')
#         del n_df1["kunag"]
#         del n_df1["matnr"]
#         n_df1 = n_df1.sort_values('date')
#         n_df1.set_index('date',inplace=True)
#         n_df1.index = pd.to_datetime(n_df1.index, unit='s')
#         weekly_resampled_data = n_df1.quantity.resample('W').sum() 
#         weekly_resampled_data = weekly_resampled_data.replace(np.nan, 0)
#         individual_series = weekly_resampled_data.to_frame() 
#         individual_series = individual_series.reset_index()
#         plt.figure(figsize=(16,8))
#         plt.plot( weekly_resampled_data, marker='.', color='blue')
#         plt.xlabel("time",color = "red")
#         plt.ylabel('quantity',color = "red")
#         plt.savefig("/home/rahul/Downloads/bharat/time_series1/racetrac/I005/" + 'Graph_{}.png'.format(index), format="PNG")  

#         cnt+=1
#         plt.close()
#         if (cnt%20==0):
#             print("count :", cnt)
# #             break

#     except:
#         pass

/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

count : 5
count : 10
count : 15
count : 20
count : 25
count : 30
count : 35
count : 40
count : 45
count : 50
count : 55
count : 60
count : 65
count : 70
count : 75
count : 80
count : 85
count : 90
count : 95
count : 100
count : 105
count : 110
count : 115
count : 120
count : 125
count : 130
count : 135
count : 140
count : 145
count : 150
count : 155
count : 160
count : 165
count : 170
count : 175
count : 180
count : 185
count : 190
count : 195
count : 200
count : 205
count : 210
count : 215
count : 220
count : 225
count : 230
count : 235
count : 240
count : 245
count : 250
count : 255
count : 260
count : 265
count : 270
count : 275
count : 280
count : 285
count : 290
count : 295
count : 300
count : 305
count : 310
count : 315
count : 320
count : 325
count : 330
count : 335
count : 340
count : 345
count : 350
count : 355
count : 360
count : 365
count : 370
count : 375
count : 380
count : 385
count : 390
count : 395
count : 400
count : 405
count : 410
count : 415
count : 420
count : 425
count : 430
count : 435
count : 440
count : 445

In [ ]:
# lst1 = df.name.unique() 
# len(lst1)
# k = 0
# for i in range(0,len(lst1)):
#     print(i)
#     n_df = data1.get_group(lst1[i])
#     data = n_df.groupby(["matnr"])
#     lst = n_df.matnr.unique() 
# #     print(n_df.shape)
# #     print(len(data))
#     print(len(lst),"\n")
#     name = str(lst1[i])
#     print(name)
#     k += n_df.shape[0]
#     print(k)
#     for j  in range(0,n_df.shape[0]):
# #         print(j)
#         try:
#             folder = 'racetrac/'+name + "/" 
#             if not os.path.exists(folder):
#                 os.makedirs(folder)
#             n_df1 = data.get_group(lst[i])
#             index = lst[i]
#             n_df1['date'] = pd.to_datetime(n_df1['date'], errors='coerce')
#             del n_df1["kunag"]
#             del n_df1["matnr"]
#             n_df1 = n_df1.sort_values('date')
#             n_df1.set_index('date',inplace=True)
#             n_df1.index = pd.to_datetime(n_df1.index, unit='s')
#             weekly_resampled_data = n_df1.quantity.resample('W').sum() 
#             weekly_resampled_data = weekly_resampled_data.replace(np.nan, 0)
#             individual_series = weekly_resampled_data.to_frame() 
#             individual_series = individual_series.reset_index()
#             plt.figure(figsize=(16,8))
#             plt.plot( weekly_resampled_data, marker='.', color='blue')
#             plt.xlabel("time",color = "red")
#             plt.ylabel('quantity',color = "red")
#             plt.savefig(folder + 'Graph_{}.png'.format(index), format="PNG")  

#             cnt+=1
#             plt.close()
#             if (cnt%5==0):
#                 print("count :", cnt)
#     #             break

#         except:
#             pass

In [76]:
# n_df1 = data1.get_group(lst1[11])
data = df.groupby(["matnr"])
print(len(data))
lst = df.matnr.unique() 
print(len(lst))
n_df = data.get_group(115583)

# n_df = data.get_grou
print(n_df.shape)
n_df.head()

711
711
(26618, 5)

        kunag   matnr        date  quantity                price
0   600398802  115583  2019-05-24       2.0  0.23529411764705882
13  600398802  115583  2019-05-31       2.0  0.23529411764705882
14  600398802  115583  2019-05-17       1.0  0.11764705882352941
30  600398802  115583  2019-05-03       2.0  0.23529411764705882
51  600398802  115583  2019-06-07       1.0  0.11764705882352941

In [77]:
# df = pd.read_csv("invoice_2019_06_18_I010_4500.tsv", sep=',', header=None)

# df.columns = ["kunag", "matnr", "date", "quantity","price"]
# print(df.head())
n_df.date = n_df.date.apply(lambda x : pd.to_datetime(x,format = '%Y-%m-%d', errors='ignore'))
n_df['date'] = n_df['date'].dt.strftime('%Y%m%d')
# n_df['date'] = pd.to_datetime(n_df['date'], errors='coerce')
# print(n_df.head())


# n_df.date = n_df.date.apply(lambda x : n_df.strftime(x, format = '%m/%d/%Y',erroes = "ignore"))
print(n_df.head())

        kunag   matnr      date  quantity                price
0   600398802  115583  20190524       2.0  0.23529411764705882
13  600398802  115583  20190531       2.0  0.23529411764705882
14  600398802  115583  20190517       1.0  0.11764705882352941
30  600398802  115583  20190503       2.0  0.23529411764705882
51  600398802  115583  20190607       1.0  0.11764705882352941

/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [74]:
df['date']=pd.to_datetime(df['date'].astype(str), format='%Y-%m-%d')
df['date'] = df['date'].dt.strftime('%Y%m%d')

/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [75]:
n_df["date"].head()

0     20190524
13    20190531
14    20190517
30    20190503
51    20190607
Name: date, dtype: object

In [67]:
n_df['date'] = n_df['date'].dt.strftime('%Y/%m/%d')

/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
n_df.head()

        kunag   matnr        date  quantity                price       date1
0   600398802  115583  2019/05/24       2.0  0.23529411764705882  2019/05/24
13  600398802  115583  2019/05/31       2.0  0.23529411764705882  2019/05/31
14  600398802  115583  2019/05/17       1.0  0.11764705882352941  2019/05/17
30  600398802  115583  2019/05/03       2.0  0.23529411764705882  2019/05/03
51  600398802  115583  2019/06/07       1.0  0.11764705882352941  2019/06/07

In [ ]:
# input_df = df[df["quantity"] >=0] 
# del df['price']
# df.head()