In [2]:
import pandas as pd
from pandas import DataFrame
import dateutil.parser
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv("invoice_2019_06_18_I010_4500.tsv", sep=',', header=None)
df.columns = ["kunag", "matnr", "date", "quantity","price"]

In [4]:
# dataframe.shape 
shape = df.shape 
print(shape)
# df.kunag.nunique(dropna = True) 
x= pd.value_counts(df.kunag)
print(len(x))
y= pd.value_counts(df.matnr)
print(len(y))

(1149122, 5)
430
711

In [5]:
df1 = df[(df > 0).all(1)]

# dataframe.shape 
shape = df1.shape 
print(shape)
# df.kunag.nunique(dropna = True) 
x= pd.value_counts(df1.kunag)
print("kunag ",len(x))
y= pd.value_counts(df1.matnr)
print("matnr ",len(y))

(1087739, 5)
kunag  430
matnr  695

In [6]:
data = df1.groupby(["matnr"])
len(data)

695

In [7]:
lst = df.matnr.unique() 
len(lst)

711

In [9]:
cnt = 0
for i  in range(0,df1.shape[0]):
    try:
        n_df1 = data.get_group(lst[i])
        index = lst[i]
        n_df1['date'] = pd.to_datetime(n_df1['date'], errors='coerce')
        del n_df1["kunag"]
        del n_df1["matnr"]
        n_df1 = n_df1.sort_values('date')
        n_df1.set_index('date',inplace=True)
        n_df1.index = pd.to_datetime(n_df1.index, unit='s')
        weekly_resampled_data = n_df1.quantity.resample('W').sum() 
        weekly_resampled_data = weekly_resampled_data.replace(np.nan, 0)
        individual_series = weekly_resampled_data.to_frame() 
        individual_series = individual_series.reset_index()
        plt.figure(figsize=(16,8))
        plt.plot( weekly_resampled_data, marker='.', color='red')
        plt.xlabel("time",color = "red")
        plt.ylabel('quantity')
        plt.savefig("/home/rahul/Downloads/bharat/time_series1/new_data_plots1/" + 'Graph_{}.png'.format(index), format="PNG")  

        cnt+=1
        plt.close()
        if (cnt%5==0):
            print("count :", cnt)
            break

    except:
        pass

/home/rahul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

count : 5

In [4]:
# input_df = df[df["quantity"] >=0] 
# del df['price']
# df.head()

       kunag   matnr        date  quantity
0  600398802  115583  2019-05-24       2.0
1  600398802  102580  2019-05-10       1.0
2  600398802  115584  2019-05-03       1.0
3  600398802  152196  2019-05-03       1.0
4  600398802  146048  2019-06-07       1.0